head {
  text-align: center;
}

body {
  text-align: center;
  font-family: Courier;
  background-image: url(firefox.png), url(bubbles.png),
    linear-gradient(to bottom, rgb(179, 207, 231), rgba(4, 150, 155, 0.048));
  background-position: bottom right, left, right;
  left: 500px;
  color: rgb(212, 184, 20);
}
.button {
  background-color: rgb(24, 123, 156);
  color: rgb(212, 184, 20);
  padding: 10px 24px;
  transition-duration: 0.4s;
  overflow: hidden;
}

.center {
  text-align: center;
  font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
    "Lucida Sans", Arial, sans-serif;
}

.blog-text {
  display: block;
  font-size: 1.5em;
  margin-block-start: 0.83em;
  margin-block-end: 0.83em;
  font-weight: bold;
  margin: 100px;
}

p {
  text-align: center;
  padding: 10px;
}
.dougprofile {
  width: 20%;
  height: auto;
  object-position: 550% 100%;
  border-radius: 30%;
  float: right;
  padding: 30px;
}
.flex-container-image {
  display: flex;
  position: relative;
  top: 10px;
}
.dougfunnie {
  width: 20%;
  height: auto;
  object-position: 150% 100%;
  border-radius: 30%;
  float: right;
}

h1 {
  padding: 20px;
  margin: 20px;
  margin-bottom: 70px;
  box-shadow: 6px 4px rgb(24, 123, 156);
}
h2 {
  font-family: optima;
  background-color: rgb(24, 123, 156);
}
.post-text {
  text-align: center;
  width: 300px;
  height: 100px;
}

.flex-container-row {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  margin-top: 10px;
}
h3 {
  display: block;

  margin-block-start: 1em;
  margin-block-end: 1em;
  margin-inline-start: 0px;
  margin-inline-end: 0px;
}
