head {
  text-align: center;
}

body {
  text-align: justify;
  font-family: Courier;
  background-image: linear-gradient(
    to bottom,
    rgb(179, 207, 231),
    rgba(4, 150, 155, 0.048)
  );

  color: rgb(70, 66, 50);
}
.button {
  background-color: rgb(24, 123, 156);
  color: rgb(212, 184, 20);
  padding: 10px 24px;
  transition-duration: 0.4s;
  overflow: hidden;
  text-align: center;
  font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
  "Lucida Sans", Arial, sans-serif;
}

.center {
  text-align: center;
  font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
    "Lucida Sans", Arial, sans-serif;
}

.blog-text {
  display: block;
  font-size: 1.5em;
  margin-block-start: 0.83em;
  margin-block-end: 0.83em;
  font-weight: bold;
  margin: 100px;
}

.dougprofile {
  width: 20%;
  height: auto;
  object-position: 550% 100%;
  border-radius: 30%;
  float: right;
  padding: 30px;
}
.flex-container-image {
  display: flex;
  position: relative;
  top: 10px;
}
.dougfunnie {
  width: 20%;
  height: auto;
  object-position: 150% 100%;
  border-radius: 30%;
  float: right;
}

h1 {
  padding: 20px;
  margin: 20px;
  margin-bottom: 70px;
  box-shadow: 6px 4px rgb(24, 123, 156);
  color: rgb(212, 184, 20);
}
h2 {
  text-align: center;
  font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
  "Lucida Sans", Arial, sans-serif;
  background-color: rgb(24, 123, 156);
  color: rgb(212, 184, 20);
}
.post-text {
  text-align: center;
  width: 300px;
  height: 100px;
}

.flex-container-row {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  margin-top: 10px;
}
h3 {
  display: block;
  margin-bottom: 8px;
  margin-block-start: 1em;
  margin-block-end: 1em;
  margin-inline-start: 0px;
  margin-inline-end: 0px;
}

//----------list here ---------//
/* Styling for both lists */
.big-box {
  display: flex;
}
.button-list{
 
  color:rgb(24, 123, 156);

}
/* Styling for each list container */
.list-container {
  display: inline-block;
 
  width: 600px;
    height: 200px;
    border: 2px solid rgb(212, 184, 20);
    border-radius: 8px;
    transition: border-color 0.3s ease-in-out;* Include padding and border in width calculation */
    background-color: #3498db;
    color: rgb(24, 123, 156); /* Set the text color to orange */
    text-align: justify;
    box-shadow: 0 0 10px rgb(212, 184, 20);
  }

/* Styling for the titles */


/* Styling for the lists */
ul {
  margin:20px;
  list-style-type:circle;
}

li{ margin:10px;}
